@import "tailwindcss";
body{
    font-family:"Geist", sans-serif;
      font-style: normal;
        font-weight: 300;
}
  path.light-red {
    fill: #b02027;
}
path.dark-grey {
    fill: #001e61;
}
  .owl-theme .owl-dots .owl-dot span {
 
    @apply bg-red-100!;

  }
  .owl-theme .owl-dots .owl-dot.active span {
 @apply bg-red-700!;
   
  }
  .main img {
    max-width: 100%;
    height: 100%;
    vertical-align: middle;
}
